<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8baf5433-0d64-428e-afef-6f38c1c75024/resourcegroups/ConnectService20211202145538ResourceGroup/providers/Microsoft.Web/sites/ConnectService20211202145538</ResourceId>
    <ResourceGroup>ConnectService20211202145538ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/8baf5433-0d64-428e-afef-6f38c1c75024/resourceGroups/ConnectService20211202145538ResourceGroup/providers/Microsoft.ApiManagement/service/ConnectServiceapi/apis/ConnectService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://connectservice20211202145538.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>b55b7b66-7c9f-4f51-b12b-ff5dd89d32b1</ProjectGuid>
    <MSDeployServiceURL>connectservice20211202145538.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConnectService20211202145538</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$ConnectService20211202145538</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>